body{
    background-color: chocolate;
}
header {
    margin: 2vh auto;
}
header,nav,main{
    background-color: blanchedalmond;
    min-height: 10vh;
}


@media (min-width: 576px) { 
    

 }

@media (min-width: 768px) { 


 }

@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 
    
 }